// variables

// SCSS SYNTAX
// $font-stack:    Helvetica, sans-serif;
// $primary-color: #333;

// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }

// nesting

// SCSS SYNTAX
// nav {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }

//   li { display: inline-block; }

//   a {
//     display: block;
//     padding: 6px 12px;
//     text-decoration: none;
//   }
// }


// side nav bar css
// .sidebar {
//     margin: 0;
//     padding: 0;
//     width: 200px;
//     background-color: #f1f1f1;
//     position: fixed;
//     height: 100%;
//     overflow: auto;

//     a {
//         display:block;
//         color: black;
//         padding: 16px;
//         text-decoration: none;

//         &:hover {
//             background-color: #555;
//             color: white;
//         }
//     }

//     a.active {
//         background-color: #4CAF50;
//         color: white;
//     }


// }

// .content {
//     margin-left: 200px;
//     padding: 1px 16px;
//     height: 1000px;
// }

// @media screen and (max-width: 700px) {
//     .sidebar {
//       width: 100%;
//       height: auto;
//       position: relative;
//     }
//     .sidebar a {float: left;}
//     div.content {margin-left: 0;}
//   }

// @media screen and (max-width: 400px) {
//     .sidebar a {
//       text-align: center;
//       float: none;
//     }
//   }

body, header, section, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: #ffffff;
    font-family: "Raleway", sans-serif;

    section {
        margin-top: 20px;
    }
}


body {
    background: #F0F0F0;
}

.navbar {
    background: #03a9f4;
}

.intro {
    background: #d22b1f;
    height: 200px;
}

.about {
    background: #129a22;
}

.projects {
    border: 1px solid #000000;
    background: #673ab7;
}

.skills {
    border: 1px solid #000000;
    background: #e7e2e7;
    color: black;
}

.contact {
    border: 1px solid #000000;
    background: #b73aa6;
    margin-bottom: 20px;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
}

//intro css
.intro {  
    background: url('images/hike.jpg') no-repeat;
    background-size: 100%;

    p{
        text-align: center;
    }
}





// flex css for projects


.projects {
        display: flex;
    }


.project-gallery {
    display: flex;
  }
