body, header, section, footer {
  margin: 0;
  color: #ffffff;
  font-family: "Raleway", sans-serif; }
  body section, header section, section section, footer section {
    border-top: 2px solid #DCDCDC; }

body {
  background: #F0F0F0; }

.contact {
  border: 1px solid #000000;
  background: #b73aa6;
  margin-bottom: 20px; }

.footer {
  border: 1px solid #000000;
  background: #616161; }

.intro-container {
  background: url("images/hike_small.jpg") no-repeat;
  background-size: 100%;
  margin: 0;
  height: 1080px; }

.main-nav {
  list-style-type: none; }

.nav-links {
  color: white; }

.main-nav li {
  text-align: center;
  margin: 15px auto; }

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(2, 2, 2, 0.8);
  font-size: 24px;
  margin-top: 20px;
  padding-right: 10px; }

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px; }

.intro-container h1 {
  text-align: center;
  padding: 70px;
  font-size: 3em; }

.navbar h1 {
  color: white; }

.main-nav {
  list-style-type: none;
  display: none; }

.active {
  display: block; }

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center; }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end; }

  .main-nav li {
    margin: 0; }

  .nav-links {
    margin-left: 40px; }
    .nav-links:hover {
      color: #0a0909; }

  .logo {
    margin-top: 0; }

  .navbar-toggle {
    display: none; } }
.title {
  color: #000000;
  font-size: 2em; }

.about {
  text-align: center;
  color: black;
  padding: 100px;
  background-color: #F0F8FF; }

.projects {
  text-align: center;
  background-color: #F0F0F0; }

.project-gallery {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .project-gallery img {
    padding: 20px;
    margin: 10px; }

.skills {
  text-align: center;
  background-color: #F0F8FF; }
  .skills img {
    max-height: 100px;
    max-width: 100px;
    margin: 20px; }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical; }

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049; }

/* Add a background color and some padding around the form */
.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  font-size: 2em; }

.fab {
  padding: 25px; }

/*# sourceMappingURL=styles.css.map */
